<div class="container">
    <div class="row">
        <h2>ABOUT</h2>
        <br>
        <p>
            This is website was created by Johan Graucob, Kenneth Frisvold and Morten Fliflet Johannessen for
            the class INF5750 Open Source Development during the fall semester of 2016 at the University of Oslo.
        </p>
        <br>
        <p>
            It was created for a group project assignment as an app that interacts with the DHIS2 platform.
            Technologies used are HTML5, CSS(with Bootstrap) and Angular2 with Typescript. It also interacts with the DHIS2
            REST API.
        </p>
    </div>
</div>