.navbar {
    background-color: #215e8c;

}
a {
    font-family: 'Open Sans',sans-serif;
    color: black;
    text-align: center;
}
.navbar-centered .navbar-nav {
    float: none;
    vertical-align: center;
    max-width: 1080px;
    
}
.navbar-centered .navbar-nav > li {
    float: none;
}
.navbar-centered .nav > li {
    display: inline;
}
.navbar-centered .nav > li > a {
    display: inline-block;
}

.navbar .nav-wrapper {
    margin: 0 auto;
     padding: 0px;
     width: 100%;
     text-align: center;
     max-width: 1080px;
}

#page-wrap {
     margin: 0 auto;
     padding: 15px;
     width: 100%;
     text-align: center;
     max-width: 1080px;
     background-color: white;
     height: 100%
     
}

.body-wrapper{
    height: 100%
}

.nav-logo {
     float: left;
     padding: 5px;
     padding-left: 15px;
}

.navbar-nav {
    float: right;
    padding-right: 15px;
}
