.top {
    position:absolute;
    left:0; right:0;
    height: 0px;
}
.left {
    position:absolute;
    left:0; top:0px; bottom: 0;
    width: 178px;
}
.main {
    position: absolute;
    left:178px; top:0px; right:0; bottom:0;
    text-align: center;
}
.top { background: blue; }
.left { background: #215e8c; }
.main { background: white; }