.navbar {
    background-color: #215e8c;
}
a {
    font-family: 'Open Sans',sans-serif;
    color: black;
    text-align: center;
}
.navbar-centered .navbar-nav {
    float: none;
    
}
.navbar-centered .navbar-nav > li {
    float: none;
}
.navbar-centered .nav > li {
    display: inline;
}
.navbar-centered .nav > li > a {
    display: inline-block;
}