.btn-back .btn-success{
    background-color: #215e8c;
    border-color: #215e8c;
    margin: 15px 0;
    text-align: center;
    float: right;
    padding-bottom: 10px;

}
.btn-nav {
    background-color: #215e8c;
    border-color: #215e8c;
    text-align: center;
        
}
.btn-back:hover {
    background-color: #3071A3;
}

.btn {
  width: 95px;
}

.btn-info {
    padding-bottom: 5px;
}

.update-btn {
    float: left;
}

.edit-group {
    float: right;
}
.update-btn {
    margin-left: 15px;
}
#update p {
    text-align: center;
    font-style: bold;
}

#newKeyForm {
    background-color: lightgray;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 25px;
    border: 2px solid grey;
}

#newKeyLabel {
    font-weight: bold;
    font-size: 24px;
}

pre {
    text-align: center;
    float: right;
}

#list-text {
    font-weight: bold;
    color: #215e8c;
    cursor: pointer;
}

