<h1>{{ title }}</h1>
<br>
<app-css-carousel></app-css-carousel>
<br>
<div class="container">
<p id="infotext">
    The data store and user data store are separated by applications you have access too. So choose in the navigation bar above whether
    you would like to see the data store, user data store or an overview of all applications and keys associated with the application
    and some additional information.
    When you are in either the data store or user data store, click the name of the application you would like to see the key/values of.
    In the list of keys you can either create a new key/value pair(also supports encrypted values) or you can click on a key to see the
    value associated with the key, along with some metadata. In here you can also choose to update the value if you wish.
<br>
    The overview page gives you an easy way to see a nicely formatted list of all keys associated with all of the applications,
    a long with the time it was created and the timestamp of last update. You can filter this list by typing in the name of the application
    you are interested in. The list is also sortable by application name, keys, when the key was created and when it was last updated. 
</p>
</div>