/* You can add global styles to this file, and also import other style files */
body, html {
    background-color: #e6e6e6;
    height: 100%

}

.pagination li {
    display: inline;
    padding: 2px;
    font-weight: bold;
}

.pull-right {
    float:right;
}

.carousel {
    border: solid;
    border-color: #215e8c;
    border-width: 2px;
   
}
.carousel-control .icon-next, .carousel-control .icon-prev {
color: black;
font-size: 100px;
margin: 0px;
padding: 0px;
}

.carousel-control.right, .carousel-control.left{
    background-image: none;
}