/* You can add global styles to this file, and also import other style files */
body, html {
    background-color: #e6e6e6;
    height: 100%

}

.pagination li {
    display: inline;
    padding: 2px;
}

.pull-right {
    float:right;
}